# Ignore node_modules directory
/node_modules
*/node_modules*


# Ignore log files
*.log

# Ignore development files and directories
.vscode/
.idea/
build/
public/
package-lock.json
src/App.test.js
src/index.css
src/index.js
src/setupTests.js
