# Ignore node_modules directory
/node_modules
*/node_modules*
backend/node_modules/*
frontend/node_modules/*

# Ignore log files
*.log

# Ignore development files and directories
.vscode/
.idea/
build/
package-lock.json
src/App.test.js
src/index.css
src/index.js
src/setupTests.js
backend/node_modules/


/Programmering/webb23-js2-WEBBSHOP.ved-Aiserich-Engblom/backend/node_modules/
/Programmering/webb23-js2-WEBBSHOP.ved-Aiserich-Engblom/backend/package-lock.json
/Programmering/webb23-js2-WEBBSHOP.ved-Aiserich-Engblom/frontend/package-lock.json