# Ignore node_modules directory
/node_modules

# Ignore node_modules directories in specific subdirectories
backend/node_modules/
frontend/node_modules/
dules/*

# Ignore log files
*.log

# Ignore development files and directories
.vscode/
.idea/
build/
public/
package-lock.json
src/App.test.js
src/index.css
src/index.js
src/setupTests.js
