.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(139, 69, 19, 0.8); 
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px; 
  }
  