.card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-body {
    flex: 1;
  }
  
  .card-img-top {
    height: 200px; /* eller den höjd du föredrar */
    object-fit: cover;
  }
  