body {
    background-image: url('/Bilder/CABIN.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
  }
  
  .main-content {
    padding-bottom: 50px;
  }
  
  .container.mt-4 {
    padding-bottom: 100px; /* Eller annat värde som passar */
  }
  